{% extends 'base.html.twig' %}

{% block title %}{{ acteur.identity }}{% endblock %}

{% block body %}

<div class="d-flex p-2" style="width: 2rem">
		<img src="/assets/img/marvel.jpg" style="width: 8rem; height: 8rem" alt=""/>
		<h1 class="ml-4">Repository</h1>
	</div>
<div class="container mt-2 d-flex">
<img class="card-img-left col-4" src="/assets/img/{{ acteur.picture }}" alt="Card image cap">
<span class="d-flex flex-column">
<div class="mt-3"><b>First name :</b>{{ acteur.firstname }}</div>
<div class="mt-3"><b>Last name :</b> {{ acteur.lastname }}</div>
<div class="mt-3"><b>Team :</b>{{ acteur.team }}</div>
<div class="mt-3"><b>Origin :</b> {{ acteur.origin }}</div>
<div class="mt-3"><b>Description :</b>{{ acteur.description }}</div>
</span>
</div>
<a href="/marvel">Retour</a>
{% endblock %}
